@import url('https://fonts.googleapis.com/css2?family=Cousine:wght@700&family=Roboto:wght@400;500;700&display=swap');
html,
body {
  --color-1: #161618;
  --color-2: #e5b648;
  --color-3: #ffffff;

  --sidebarWidth: 350px;

  font-family: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
  width: 100vw;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  background-color: #111;
  font-size: 75%;
  overflow-x: hidden;
  color: var(--color-1);
}

li {
  list-style: none;
}